.chatbox {
  width: 30vw;
  border: none;
  position: fixed;
  right: 0;
  bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 4px;
  border-radius: 5px;
}
.chatbox__chat {
  overflow-y: auto;
  overflow-x: none;
  height: 70vh;
  display: flex;
  flex-flow: column;
}
.chatbox__title {
  color: rgb(0, 0, 0);
  text-align: center;
  height: 50px;
  background-color: rgb(227, 242, 255);
}
/* .chatbox__form {
  height:10vh
} */
.chatbox__input-text {
  padding-left: 2px;
  width: 80%;
  outline: none;
  border: none;
  font-size: 20px;
  height:20px
}
.chatbox__input-btn {
  width: 20%;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  padding:5px
}
.message {
  width: 50%;
  max-width: 50%;
  background-color: rgb(227, 242, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  margin: 10px;
  padding: 3px;
  word-break: break-all;
}
.message__user {
  margin-left: auto;
  background-color: rgb(50, 156, 255);
  color: rgb(255, 255, 255);
}
